name: "Deploy Production to PI"
run-name: ${{ github.actor }} is deploying Production to PI!
on: [workflow_dispatch]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Pull repo to RPI
        uses: garygrossgarten/github-action-ssh@release
        with:
          command: cd /home/pi/ELK-BLEDOM/ && git checkout production -f && git pull 
          host: ${{ secrets.HOST }}
          port: ${{ secrets.PORT }}
          username: ${{ secrets.USERNAME }}
          privateKey: ${{ secrets.PRIVATE_KEY }}
          password: ${{ secrets.PASSWORD }}
          
      - name: Restart PM2 instance
        uses: garygrossgarten/github-action-ssh@release
        with:
          command: sudo su pi && pm2 restart index
          host: ${{ secrets.HOST }}
          port: ${{ secrets.PORT }}
          username: ${{ secrets.USERNAME }}
          privateKey: ${{ secrets.PRIVATE_KEY }}
          password: ${{ secrets.PASSWORD }}
        
  
    
